body, html{
    height: 100%;
    box-sizing: border-box;
}

.slider-container{
    margin: 0 auto;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.slider-container__slides{
    position: relative;
    max-height: 100%;
    display: flex;
}
.slider-container__slides button{
    position: absolute;
}

#prevBtn{
    left:0;
    top:50%;
    transform: translate(0,-50%);
}

#nextBtn{
    right:0;
    top:50%;
    transform: translate(0,-50%);
}

.slider-container__slides img{
    /*якобы не работает clientWidth на inline display*/
    display: block;
    width: 100%;
    object-fit: cover;
}


